<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <!-- 댓글 관련 Mapper 쿼리 작성 -->
   <mapper namespace = "com.app.Mapper.CommentMapper">   
   
   		<!-- 댓글 목록 검색 -->
   		<select id="selectComment" resultType="com.app.Domain.Comment">
   			SELECT
   				*
   			FROM
   				COMMENT
   			WHERE
   				DELETED = 'N'
   			ORDER BY
   				PARENT, COMMENT.ORDER;
   		</select>
   		
   		<!-- 댓글 추가 -->
   		<insert id="insertComment">
   			INSERT
   			INTO
   				COMMENT(
   					CONTENTS,
   					USER_ID,
   					CREATED_DATE
   				)
   			VALUES(
   				#{contents},
   				#{userId},
   				now()
   			);
   		</insert>
   		
   		<!-- 댓글 수정 -->
   		<update id="updateComment">
   			UPDATE
   				COMMENT
   			SET
   				CONTENTS = #{contents},
   				UPDATED_DATE = NOW()
   			WHERE
   				IDX = #{idx}
   		</update>
   </mapper>