.NormalCommentWriteContentsInput,
.normalCommentsWriterInput,
.commentList,
.btnNormalCommentWrite,
#btnWrite {
	margin: 30px 0px;
}

h1 {
	margin-left: 50px;
}

.btnNormalCommentWrite {
	text-align: center;
}

ul,
li {
	list-style: none;
	padding-left: 0px;
}
